#movie-result {
  background: rgb(244, 98, 181);
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: rgb(196, 159, 255);
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: black;
}

h1:hover{
  background-color: rgb(78, 229, 237);
  color: rgb(71, 16, 92);
  border: 5px solid;
  
}

h1{
  border: 5px dotted;
  font-style: Italic ;
  Font-size : 50px;
  color: rgb(49, 217, 232);
}

label{
  background: yellow;
}
